<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi primer doc en HTML</title>
</head>

<body>
    <img src="/img/Alan_Turing.jpg" alt="Aquí va una foto">
    <h1>Estoy probando esto del HTML</h1>

    <h2>Un titulo en h2</h2>
<ol>Probando lista ordenada
    <li>a</li> 
    <li>b</li>
    <li>c</li>
</ol>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, nemo molestias. Perspiciatis reprehenderit
        voluptatem officia aliquid, quam incidunt quidem corporis nulla in molestiae maiores vel recusandae animi
        repellendus at ea.</p>
<a href="https://www.instagram.com">Instagram</a>
<ul>Probando listas desordenadas
    <li>1</li>
    <li>2</li>
    <li>3</li>
</ul>
<ul>lista anidada
    <li>Recordar para el viaje:
       <ol>
        <li>DNI</li>
        <li>Pasajes</li>
       </ol>
    </li>
    <li>Llamar a Assist Card</li>
    <li>Adaptador para celular</li>
</ul> 
</body>

</html>